{%load static%}
</head>
<body>

  <nav class="navbar">
    
    <a href="{%url 'home'%}"  class="logo">
      <img src="{%static 'images/logo.png'%}" alt="" class="logo-img">
    </a>
    
    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="{% url  'home' %}">Home</a>
      <a href="{% url 'create-job'%}">Create a Job Offer</a>
      <a href="{% url 'job-list'%}">Jobs</a>

      
      

      {% if request.user.is_authenticated%}
      <a href="{%url 'logout'%}">Logout</a>
      {%else%}
      <a href="{% url 'login'%}">Login</a>
      {%endif%}

   


      
    </div>
    
  </nav>

</body>
</html>